body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #1b396a;
    color: #fff;
    padding: 25px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 50px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .container {
    width: 400px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius:4%
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input,
  form select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  form input[type="submit"] {
    background-color: #1b396a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  footer {
    background-color: #1b396a;
    color: #fff;
    padding: 25px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  footer nav ul li {
    margin: 0 10px;
  }
  
  footer nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    .container {
      width: 80%;
    }
  }
  
  @media (max-width: 480px) {
    footer nav ul li {
      margin: 5px;
    }
  }
    
     body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f5f5f5;
      }
      
      .container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-top: 50px;
      }
      
      h1 {
        text-align: center;
        margin-bottom: 30px;
      }
      
      label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
      }
      
      input[type="text"] {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        margin-bottom: 16px;
      }
      
      input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        width: 100%;
      }
      
      input[type="submit"]:hover {
        background-color: #45a049;
      }

      /*RECARGAS================================================================================================================*/
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f5f5f5;
      }
      
      .container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-top: 50px;
      }
      
      h1 {
        text-align: center;
        margin-bottom: 30px;
      }
      
      label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
      }
      
      input[type="text"] {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        margin-bottom: 16px;
      }
      
      input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        width: 100%;
      }
      
      input[type="submit"]:hover {
        background-color: #45a049;
      }
      /*LOGIN====================================================================================================================*/
      body {
        font-family: Arial, sans-serif;
        background-color: #f1f1f1;
        margin: 0;
        padding: 0;
      }
      
      .login-container {
        max-width: 300px;
        margin: 100px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      }
      
      h1 {
        text-align: center;
        margin-bottom: 20px;
      }
      
      form {
        margin-bottom: 20px;
      }
      
      input[type="text"],
      input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      
      button[type="submit"],
      button#register-button {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      
      button[type="submit"]:hover,
      button#register-button:hover {
        background-color: #45a049;
      }
      
      button#register-button {
        background-color: #008CBA;
      }
      
      button#register-button:hover {
        background-color: #007A99;
      }
   /*Peage===========================================================================================================================*/
   table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }